
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Kavoon&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@font-face {
  font-family: 'YdestreetB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'RixYeoljeongdo_Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{font-family: 'Noto Sans KR', sans-serif;}


// font class
.YdestreetB{
  font-family: 'YdestreetB';
}
.RixYeoljeongdo_Regular{
  font-family: 'RixYeoljeongdo_Regular';
}
.Kavoon{
  font-family: 'Kavoon';
}
.PyeongChangPeace-Bold{
  font-family: 'PyeongChangPeace-Bold';
}
.GangwonEdu_OTFBoldA{
  font-family: 'GangwonEdu_OTFBoldA';
}

h2{font-family: 'Nunito', 'Noto Sans KR', sans-serif; font-weight: 700; font-size: 40px; color: #0166FF;}

#hd{
  font-family: 'Nunito', 'Noto Sans KR', sans-serif;
  font-weight: 800;
  font-size: 20px;
  .navi_ul{
    a{
      font-family: 'Nunito', sans-serif;
    }
  }
}

#main_banner{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  font-size: 20px;
  .swiper-slide{
    font-size: 70px;
    font-weight: 600;
  }
}

.burger{
  .ul_list{
    a{
      font-family: 'Nunito', sans-serif;
      font-weight: 900;
      font-size: 23px
    }
  }
}

#portfoli_swiper{
  span{
    font-size: 15px;
    font-weight: 300;
    color: #8A8989;
    strong{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 35px;
      font-weight: 700;
      color: #0166FF;
    }
  }
  .po_tag{
    font-weight: 600;
    color: #8A8989;
  }
  .po_des_dep2,
  .po_mak{
    font-size: 17px; 
    font-weight: 400;
  }
  .tools{
    p{
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #8A8989;
    }
  }
  .stack_1{
    p{
      font-family: 'Nunito', sans-serif;
      font-size: 20px;
      font-weight: 700;
      color: #8A8989;
    }
  }
  .po_mobile_title{
    font-size: 30px;
    color: white;
    font-weight: 400;
  }
  .po_mobile{
    button{
      font-family: 'Nunito', sans-serif;
    }
  }
}

#about{
  .about_text{
    p{
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 16px;
      font-weight: 200;
      &:nth-child(1){
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
  .skillbar{
    > div{
      p{
        font-size: 12px;
      }
    }
  }
}

#contact_section{
  .location{
    span{
      font-size: 15px;
      color: rgb(100, 99, 99);
    }
  }
}

#etc{
  p{
    font-size: 14px;
    color: rgb(100, 99, 99);
  }
}


@media(min-width: 992px){
  h2{
    font-size: 50px;
  }

  #main_banner{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 35px;
    .text_bin{
      h2{
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 90px;
        font-weight: 900;
      }
    }
  }

  #portfoli_swiper{
    h3{
      font-size: 35px;
    }
    .stack_text{
      p{
        font-size: 10px;
      }
    }
  }

  #about{
    .about_text{
      p{
        font-size: 18px;
        font-weight: 400;
        &:nth-child(1){
          font-weight: 600;
        }
      }
    }
  }

  #preinterview{
    .pre_pc{
      .pre_button_pc{
        line-height: 120px;
        button{
          background-color: transparent;
          font-size: 18px;
          color: #8A8989;
          text-align: left;
        }
      }
      .pre_button_pc.click{
        button{
          color: white;
        }
      }
    }
    .pre_answer_pc{
      p{
        line-height: 1.6;
        color: #8A8989;
      }
    }
  }
}